# Test artifacts
tests/*.log
tests/tmp/
test/libs/*/
coverage/

# macOS
.DS_Store

# Editor files
*.swp
*.swo
*~

# Cache
.cache/

# Logs
*.log

# State
.installed/
.downloads/
.meowg1k

# Secrets
private/git/.gitconfig
private/secrets/.secrets
private/meow/config.yaml
